.body{
    margin:0;
    font-family: 'Times New Roman', Times, serif;
}

#Header{
    text-align: center;
     margin: 20px 0 20px 0;
     background-color: black;
}

#Logo{
    width: 3%;
    height: 3%;
    float: right;
}

.Links{
    text-align: center;
    margin-bottom: 15px;
}

nav{
    background-color: black ;
    list-style: none;
}

.Links a {
    display: inline-block;
    text-align: center;
    color: white;
}

.Home h2 ,  p , a{
    text-align: center;
}

.Home img{
    border-radius: 10px;
    margin: 50px 350px 50px 350px;
}

.Gods h2 , ol{
    text-align: center;
    font-weight: bold;
    list-style: none;
}

.Gods img{
    border-radius: 10px;
    margin: 15px 120px 15px 120px;
}

.Origins h3 , p , a{
    text-align: center;
}

.Video{
    margin: 40px 250px 40px 250px;
}

.Background-Footer{
    background-color: black ;
    text-align: center;
}

.Background-Footer p , ul{
    margin: 0 10px  0 10px;
    color: white;
}


